<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604206835156-f29o9bu3o9p0vk1gu1qj0v8dnk6rlnto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604206835156-f29o9bu3o9p0vk1gu1qj0v8dnk6rlnto</string>
	<key>API_KEY</key>
	<string>AIzaSyAuIa1QlGEWbejXxTGyIJCuc_a21XidJlA</string>
	<key>GCM_SENDER_ID</key>
	<string>604206835156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotifications</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-test-b9537</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-test-b9537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604206835156:ios:7a7542e84b007dd3ea2241</string>
</dict>
</plist>